input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px #183B1E inset;
    -webkit-border-radius: 40px;
    -webkit-border: 0;
    -webkit-background-clip: text;
}
input:-webkit-autofill{
    -webkit-text-fill-color: #DCF0DF !important;
}

/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v25-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* wallpoet-regular - latin */
@font-face {
  font-family: 'Wallpoet';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/wallpoet-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/wallpoet-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nova-square-regular - latin */
@font-face {
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nova-square-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nova-square-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jaldi-700 - latin */
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/jaldi-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/jaldi-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jaldi-regular - latin */
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/jaldi-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/jaldi-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Jaldi';
    font-style: bold;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #183B1E;
    /*
    background: linear-gradient(-45deg, #339933 0%, #66ffcc 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	*/
    background-color:#DCF0DF;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main{
    background-color:#DCF0DF;
}
.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}

/* header styles start*/
.header{
    background-color:#DCF0DF;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}
.header-wrapper{
    display: flex;
    padding-top:60px;
    flex-wrap: wrap;
    align-elements: flex-end;
    align-items: center;
    justify-content: space-between;
}
.header-list{
    display: flex;
    flex-wrap: wrap;
}

.header-item{
    margin-right: 178px;
}

.header-item:last-child{
    margin-right:0;
}

.header-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 13px;
    /* identical to box height, or 81% */
    color: #183B1E;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration:none;
}
.header-link:hover, .header-link:focus,.header-link:active{
    opacity: .75;
}
/* header styles end*/


/* search styles start */

.intro{
    min-height: 100vh;
    padding-top: 220px;
    max-width: 940px ;
    margin: 0 auto;
}
.intro-title{
  color: #183B1E;
  font-family: "Jaldi";
  font-size: 36px;
  line-height: 40px;
  max-width: 900px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
}
.intro-sub{
   color: #183B1E;
   font-size: 22px;
   font-family: "Jaldi";
   line-height: 13px;
   max-width: 430px;
   margin-bottom:40px;
}

/* intro end */


/* search form start */

.search__container{
    display: inherit;
    font-size: 0px;
}


.form_radio_group {
	font-family: "Jaldi";
	font-size: 18px;
	display: flex;
	justify-content: center;
	color:#183B1E;
    gap: 10px;
    margin-bottom: -1.5%;
    margin-left: -45%;
    margin-top: 20px;
}
.form_radio_group-item {
	display: inline-block;
	float: left;
}
.form_radio_group input[type=radio] {
	display: none;
}
.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 30px 30px 0px 0px;
}
.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 30px 30px 0px 0px;
	border-right: 1px solid #999;
}


/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background:#183b1e;
	color: white;
}

/* Hover */
.form_radio_group label:hover {
	color: #434643;
}


/* search form start */

input{
  color: #DCF0DF;
  font-family: "Montserrat";
  border: 0;
  justify-content: center;
  background-color: transparent;
}
.search-bar{
    margin-top: -8px;
    position:relative;
}

#cover {
  display: flex;
  font-size: 0px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #183B1E;
  border-radius: 40px;
  transform: scale(0.75);
}

form {
  max-height: 80px;
}
button.submit_button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 80px;
    z-index: 2;
    border-radius: 40px;
    background-color: #183B1E;
    border: none;
}
input[type="text"] {
  width: 100%;
  max-height: 80px;
  font-size: 30px;
  line-height: 1;
  padding: 40px;
  margin: 0 auto;
  font-family:"Montserrat"
  color: #DCF0DF;
}

input[type="text"]::placeholder {
  color: #DCF0DF;
  opacity: 0.85;
}

img.resize {
    width:40px; /* you can use % */
    height: auto;
}

/* search form end */

/* keyboard start */
.button-keyboard, .button-keyboard-1{
    font-family:"Jaldi";
    display: block;
    justify-content: center;
    top: 10px;
    left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    max-height: 30px;
    padding-bottom: 5px;
    background-color:#787E79;
    color: #DCF0DF;
    border-radius: 10px;
    z-index: 3;
}

.button-keyboard-1{
    background-color:#454745;
}
.container-keyboard{
    display: none;
    justify-content: center;
    margin: 0 auto;
    max-width: 688px;
    max-height: 300px;
    min-height: 175px;
    background-color: #DCF0DF;
    border-radius: 20px;

}
#outer-buttons{
    z-index:3;
    display:flex;
}
.keyboard-comps{
    display: flex;
}
.keyboard-buttons-first{
    position: relative;
}
#button-keyboard-term-div{
    display: none;
}
#keyboard-afterterm-div{
    display: none;
}
#write {
margin: 0 0 5px;
padding: 5px;
width: 671px;
height: 200px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 1px solid #f9f9f9;
border-radius: 5px;
}
img.resize_key {
    max-width:40%; /* you can use % */
    max-height: 40%;
    margin: 0 auto;
    display: inline-block;
}

button.key_button{
    border-radius: 40px;
    background-color: #203e27;
    border: none;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    position:absolute;
}

    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    height: 40px;
    line-height: 40px;
    text-align: center;

    }
    .on {
    display: none;
    }

#keyboard li:hover {
position: relative;
top: 1px;
left: 1px;
border-color: #e5e5e5;
cursor: pointer;
}

.inside-keyboard{
   position:relative;
   margin: 50px;
   margin-left: 100px;

}

keyboard-comps{
    display: flex;
    max-width: 600px;
    justify-content: center;

}
.ui two menu{
    width: 200px;
}

/* keyboard end */

/* ----------------------------------- */
/* ----------------------------------- */

/* result styles */

 .word-inf {
            text-align: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            margin-top: 150px;
            margin-bottom: 10px;
            display: flex;
            color: #C7D8CA;

    }

        .word-item {
            font-family: "Montserrat";
            width: fit-content;
            /*background-color: #183B1E;*/
            justify-content: center;
            padding: 20px;
            margin-left: 37px;
            margin-top: 32.5px;
            margin:35px;
            font-size: 18px;
            color: #183B1E;
            line-height: 150%;
            border-radius: 10px;
            border: 2px #183B1E solid;
        }

.word-item-grammar{
    /*background-color:#CBCDCB;*/
    color: #183B1E;
    font-family: "Montserrat";
    width: fit-content;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px #CBCDCB solid;

}
#speak-button{
    background: #183B1E;
    color: black;
    width: fit-content;
    height: fit-content;
}
.name{
    color:  #183B1E;
    font-size: 16px;
}

.results-container{
    width: 100%;
    height: fit-content;

    margin-bottom: 32.5px;
    display: flex;
    color: black;
}
.speak-icon{
    width: 28px;
}
#divTable{
    display: flex;
}
.no-res{
    font-family: 'Jaldi';
    font-size: 26px;
    margin: 10px;
}

.row_ex{
    padding:20px 10px 20px 10px;
    font-size: 20px;
    justify-content: left;

}
.tr_ex{
    padding:10px;
    background-clip: content-box;
    background-color: #CBCDCB;
    display: flex;
    border-radius: 20px;
}
.formula_img{
    max-width:  40%;
    max-height: 70px;

}

.words-sent{
      font-family: "Montserrat";
      font-size: 18px;
}


.var_root{
    color: #814678;
}

.var_other{
    color:#468157;
}
#var_root{
    color: #814678;
}

#var_other{
    color:#468157;
}
/* tooltip style*/

[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
  background-color: #183b1e;
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}


/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
.grammar-part_norm{
    background-color: #183b1e;
    color:white;
    padding: 10px;
     opacity: .85;

}
.grammar-part_pos{
    background-color: #333;
    color:white;
    padding: 10px;
    margin-bottom: 5px;
    opacity: .85;
}