{% extends 'base.html' %}
{% block content %}
           <div class="row" >
    <div class="container" style="margin-top: 18%">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <h2>Your tool for finding mathematical formulas and expressions.</h2>
                <br><br>
                <h5>Choose the type of your search query:</h5>
            </div>
        </div>
            <form name="radio" class="row justify-content-center" style="margin-top: 20px">
                <div>
                    <div class="col-6">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" value="word">
                    <label class="btn btn-opt-word" for="option1">By word</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" value="formula">
                    <label class="btn btn-opt-form" for="option2">By formula</label>
                </div>
                </div>
                </div>
            </form>


                <form name="search" class="d-flex" method="post" action="/result" target="_blank">
                    <input name="text" type="text" class="form-control form-control-lg" placeholder="">
                    <button class="btn btn-outline-success btn-search" type="submit">Search</button>
                </form>


        </div>
</div>
<script>
    function checkWord(){
        document.getElementById('option1').checked = true;
    }
    function checkForm(){
        document.getElementById('option2').checked = true;
    }
    function getValue() {
        var radio = document.querySelector('.check').checked;
        let resultt = radio == true ? {"type":"word"} : {"type":"formula"};

        s = JSON.stringify(resultt);
        const request = new XMLHttpRequest;
        request.open('POST', 'result/${JSON.stringify(resultt)}')
        request.send()

</script>
<!--
<h1 style="background-color: #ffffff">
        Действие повести происходит на Земле предположительно в 1970-е годы в городке Хармонт, в выдуманной англоязычной стране[14].

Примерно за 13 лет[15] до начала описываемых в книге событий в нескольких местах на земном шаре возникает шесть «зон» — областей, в которых начинают происходить странные явления, нарушающие известные законы физики. Зоны расположены вдоль плавной линии на поверхности Земли, проекции так называемого радианта Пильмана — точки, лежащей на прямой, соединяющей Землю и Денеб. Быстро выяснилось, что людям и животным проживать в Зонах очень опасно, и всё население было из них срочно эвакуировано. Территории Зон были обнесены ограждением, взяты под строгую охрану и официально стали предметом осторожного научного изучения. Также очень быстро обнаруживается, что в Зонах много артефактов непонятного предназначения. Некоторые из них весьма полезны — например, могут лечить болезни, некоторые просто странные игрушки, а некоторые — крайне опасны.

Предполагается, что Зоны созданы представителями внеземной цивилизации, и строится множество гипотез, по-разному объясняющих, что они собой представляют и каким образом нужны инопланетянам для контакта с жителями Земли. Один из героев книги, лауреат Нобелевской премии доктор Валентин Пильман, образно предполагает, что все артефакты — «пустышки», «этаки», «браслеты» — это всего лишь космический мусор, оставленный инопланетянами на планете Земля во время случайного посещения, сродни пустым банкам и бутылкам, забытым после человеческого пикника на обочине дороги.

Одна из основных тем — нравственный выбор тех, в чьи руки попадают артефакты Зоны, то, как ими воспользуется человечество, которое, строго говоря, плохо понимает, в чём предназначение этих опасных вещей, неизвестно зачем оставленных пришельцами.

Одна из Зон находится в черте города Хармонт. Главный герой книги Рэдрик Шухарт, житель Хармонта, становится сталкером, то есть зарабатывает на жизнь, вынося из Зоны артефакты, обладающие необычными свойствами и стоящие больших денег. Сюжет произведения складывается из отдельных эпизодов жизни Шухарта (в начале повести ему 23 года, в конце — 31). Большую часть жизни он был нелегальным сталкером, то есть преступником, в связи с чем сидел в тюрьме, хотя известно, что в молодости он работал лаборантом Хармонтского филиала Международного института внеземных культур.

У сталкеров, как правило, рождались дети с многочисленными физическими и биологическими отклонениями от нормы, причины этой аномалии медицина найти не могла (в частности, радиации и химических токсикантов в атмосфере Зоны не было). Не избежала этой участи и единственная дочь Шухарта — Мария (домашнее прозвище Мартышка). Рэдрик любит жену и дочь, но заботиться о них постоянно у него не получается из-за частых отсидок. Тем не менее он не может отказаться от походов в Зону, разрушающую его жизнь (отчасти из-за желания получать большие деньги и не считать их, но главным образом — из-за магнетического притяжения Зоны, понятного только настоящему сталкеру). Только в Зоне он чувствует себя на своём месте и жить без неё уже не может.

В конце книги Шухарт планирует и осуществляет свою заключительную миссию в Зоне: он решает найти «Золотой шар» — артефакт, который, согласно легенде, может выполнить самое сокровенное желание того, кто его обнаружит. Шухарт идёт к Шару, будучи глубоко разочарованным жизнью человеком, в последней надежде вылечить дочь. Сложность миссии состоит не только в том, что дорога к Шару смертельно опасна, но и в том, что последняя ловушка на пути к нему требует жертвы — одной человеческой жизни. И Шухарт приносит эту жертву в виде своего спутника, юноши, который напросился к нему в ученики — Артура Барбриджа.

Отец Артура — старейший сталкер по прозвищу Стервятник, известный тем, что ходившие с ним в Зону часто не возвращались. У Барбриджа двое нормальных здоровых детей — исключение среди сталкеров. Барбридж по секрету сообщил Шухарту, что вымолил себе детей у Золотого шара. Сам он больше не может дойти до места, где находится артефакт, потеряв в Зоне обе ноги — тогда его вытащил на себе Рэдрик. Стервятник раскрыл Шухарту местонахождение Шара и расставленные на пути к нему ловушки, одна из которых требует «жертвоприношения» («мясорубка»), не только из благодарности — он надеется, что Шухарт сможет вернуть ему ноги.

Финал книги остаётся открытым — Артур погибает в «мясорубке», Рэдрик подползает к Шару, тщетно пытаясь сформулировать своё самое сокровенное желание. Он вспоминает всю свою искалеченную жизнь, пытается вспомнить что-то светлое, но не получается. В итоге он не может придумать ничего, кроме того, что воскликнул Артур за несколько секунд до своей смерти: «Счастье для всех, даром, и пусть никто не уйдёт обиженный!»
</h1>

-->

{% endblock %}