<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Math Corpus</title>
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/table_style.css"/>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <header class="header">
    <div class="wrapper">

      <div class="header-wrapper">
          <div class="header-logo">
            <a href="/" class="header-logo-link">
              <img src="static/img/svg/logo.svg" alt="logo" class="header-logo-img">
            </a>
          </div>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item">
            <a href="#" class="header-link">Home</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link">About</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link">Check
knowledge</a>
          </li>
          <li class="header-item last">
            <a href="#" class="header-link">Register</a>
          </li>
        </ul>
      </nav>
      </div>

    </div>
  </header>

  <main class="main">
    <section class="intro">
        <div class="wrapper">
            <h1 class="intro-title">
                    Your tool for finding <br> mathematical formulas and expressions
            </h1>
            <p class="intro-sub">
                Choose the type of your search query:
            </p>
            <div class="search__container">
                <div class="form_radio_group" id="radio-form">
                    <form name="radio" action="" method="post" onsubmit="">
                        <div class="form_radio_group-item">
                            <input class = "check" id="radio-1" type="radio" name="radio" value="word" onclick = "checkWord();hideDiv()" ><label for="radio-1">
                            By word</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input class = "check" id="radio-2" type="radio" name="radio" value="formula" placeholder="By formula" onclick ="checkForm();showDiv()"><label for="radio-2">
                            By formula</label>
                        </div>
                    </form>
                    </div>

                <div class = "search-bar" id="cover">
                    <form autocomplete = "" action = "/result" class="search-wrapper cf" target="_blank" method ="POST">
                        <input name="text" type="text" placeholder="Search" required style="box-shadow: none">
                        <button type="submit" class ='submit_button'><img class = "resize" src="static/img/svg/search.svg" alt=""></button>
                    </form>
            </div>
            </div>

            <div class="container-keyboard" id = "container-keyboard">
                <form action="" class="keyboard-comps" >
                    <ul id="keyboard">
                                <li class="symbol"><a href="/result"><button class="key_button" id = 'add_button' onclick=''><img class = 'resize_key' src="static/pics/add.png"></button>
                                </a></li>
                                <li class="symbol">
                                    <button class = "key_button" onclick=""><img class = 'resize_key' src="static/pics/equal.png"></button>
                                </li>

                        </ul>
                </form>
            </div>
        </div>
    </section>
  </main>
<script>

    function checkWord(){
        document.getElementById('radio-1').checked = true;
    }
    function checkForm(){
        document.getElementById('radio-2').checked = true;
    }
    function getValue() {
        var radio = document.querySelector('.check').checked;
        let resultt = radio == true ? {"type":"word"} : {"type":"formula"};

        s = JSON.stringify(resultt);
        const request = new XMLHttpRequest;
        request.open('POST', 'result/${JSON.stringify(resultt)}')
        request.send()
    }
    function showDiv() {
        document.getElementById('container-keyboard').style.display = "block";
    }
    function hideDiv(){
        document.getElementById('container-keyboard').style.display = "none";
    }
    function showKeyboardTerm(){
        document.getElementById('button-keyboard-term-div').style.display = "flex";
    }
    function showKeyboardVar(){
            document.getElementById('keyboard').style.display = "flex";
            document.getElementById('nums').style.display = "none";
            document.getElementById('vars').style.display = "flex";
    }
    function showKeyboardNum(){
            document.getElementById('keyboard').style.display = "flex";
            document.getElementById('nums').style.display = "flex";
            document.getElementById('vars').style.display = "none";
    }

</script>
</body>
</html>